*.tar.*
*.dsc
*.build
*.log
debhelper-build-stamp
target
hwlib/debian/hwlib/
cargo_home
.cargo-checksum.json
vendor/
__pycache__/

# debian/ source files to ignore
.debhelper/
*/debian/files
*/debian/hwlib.substvars
*/debian/hwlib
*/debian/cargo_registry
*.deb
*.ddeb
*.buildinfo
*.changes
*.ppa.upload
hwlib/*.whl
