Test-Command: /usr/share/cargo/bin/cargo-auto-test hilib 0.1.0 --all-targets --all-features
Features: test-name=rust-hilib:@
Depends: dh-cargo (>= 18), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test hilib 0.1.0 --all-targets
Features: test-name=librust-hilib-dev:default
Depends: dh-cargo (>= 18), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test hilib 0.1.0 --all-targets --no-default-features
Features: test-name=librust-hilib-dev:
Depends: dh-cargo (>= 18), @
Restrictions: allow-stderr, skip-not-installable
