services:
  hwapi-dev:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        IMPORT_TOOL_PATH: ${IMPORT_TOOL_PATH:-./scripts/import_from_c3.py}
        DB_URL: ${DB_URL:-sqlite:////home/server/hwapi.db}
        C3_URL: ${C3_URL:-https://certification.staging.canonical.com}
    command: uvicorn hwapi.main:app --host 0.0.0.0 --port 8080 --reload
    working_dir: /home/server
    volumes:
      - ./hwapi:/home/server/hwapi
      - ./scripts:/home/server/scripts
    ports:
      - "8080:8080"

  hwapi-test:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        IMPORT_TOOL_PATH: ""
        C3_URL: https://c3_url
        DB_URL: sqlite:////home/server/test.db
    command: >
      bash -c '
        ruff format --check hwapi/ scripts/ tests/ &&
        ruff check hwapi/ scripts/ tests/ --no-cache &&
        mypy hwapi/ scripts/ tests/ &&
        coverage run --source "hwapi/" -m pytest tests/ -vv &&
        cd .. && cp server/.coverage . &&
        coverage xml -o server/coverage/coverage.xml'
    working_dir: /home/server
    volumes:
      - ./coverage:/home/server/coverage
    ports:
      - "8080:8080"

  hwapi:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        IMPORT_TOOL_PATH: ./scripts/import_from_c3.py
        DB_URL: sqlite:////home/server/hwapi.db
        C3_URL: https://certification.canonical.com
    working_dir: /home/server
    ports:
      - "8080:8080"
