services:
  hwapi-dev:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        IMPORT_TOOL_PATH: ${IMPORT_TOOL_PATH:-./scripts/import_from_c3.py}
        DB_URL: ${DB_URL:-sqlite:////home/server/hwapi.db}
        C3_URL: ${C3_URL:-https://certification.staging.canonical.com}
    command: uvicorn hwapi.main:app --host 0.0.0.0 --port 8080 --reload
    working_dir: /home/server
    volumes:
      - ./hwapi:/home/server/hwapi
      - ./scripts:/home/server/scripts
    ports:
      - "8080:8080"

  hwapi:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        IMPORT_TOOL_PATH: ./scripts/import_from_c3.py
        DB_URL: sqlite:////home/server/hwapi.db
        C3_URL: https://certification.canonical.com
    working_dir: /home/server
    ports:
      - "8080:8080"
