Source: rust-hwlib
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
               dh-cargo (>= 23),
               cargo:native,
               rustc:native,
               libssl-dev,
               pkgconf
Maintainer: Canonical Hardware Certification <canonical-hw-cert@lists.launchpad.net>
Uploaders: Nadzeya Hutsko <nadzeya.hutsko@canonical.com>
Standards-Version: 4.6.2
Vcs-Git: https://github.com/canonical/hardware-api.git [client/hwlib/src]
Vcs-Browser: https://github.com/canonical/hardware-api/tree/main/client/hwlib/src
Homepage: https://github.com/canonical/hardware-api
X-Cargo-Crate: hwlib
Rules-Requires-Root: no

Package: librust-hwlib-dev
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends}
Provides: librust-hwlib-dev (= ${binary:Version})
Description: Collects and sends hardware information to hardware-api to find testing status of the machine
 This library is used for gathering hardware information from a device and sending it
 to the hardware-api to determine the testing status of the device model.
