name: Automatic doc checks
permissions:
  contents: read
on:
  push:
    branches: [main]
  pull_request:
    paths:
      - docs/**
      - .github/workflows/automatic-doc-checks.yml
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  documentation-checks:
    uses: canonical/documentation-workflows/.github/workflows/documentation-checks.yaml@main
    with:
      working-directory: "docs"
      fetch-depth: 0
