name: Check CLA
permissions:
  contents: read
on: [pull_request]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cla-check:
    name: Check CLA
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read # necessary to fetch contributor email
    steps:
      - name: Check if CLA is signed
        uses: canonical/has-signed-canonical-cla@1c20438ad54b4d37105e777000545881d2293ba4 # 2.2.0
