name: Package Client

permissions:
  contents: read

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - .github/workflows/package_client.yaml
      - client/**
  pull_request:
    branches: ["main"]
    paths:
      - .github/workflows/package_client.yaml
      - client/**
  schedule:
    - cron: "0 0 * * 0"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  snap:
    name: Snap
    runs-on: [self-hosted, linux, jammy, x64]
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Build
        id: snapcraft
        uses: canonical/snapcraft-multiarch-action@v1
        with:
          path: client
          architecture: ${{ matrix.arch }}
      - name: Upload snapcraft logs
        if: failure()
        uses: actions/upload-artifact@v7
        with:
          name: runtime-build-log-${{ matrix.arch }}
          path: |
            /home/runner/.cache/snapcraft/log/
            /home/runner/.local/state/snapcraft/log/
      - name: Upload artifact
        uses: actions/upload-artifact@v7
        with:
          name: hwctl_${{ matrix.arch }}.snap
          path: ${{ steps.snapcraft.outputs.snap }}
      - name: Publish
        if: github.ref == 'refs/heads/main'
        uses: snapcore/action-publish@v1
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAP_STORE_LOGIN }}
        with:
          snap: ${{ steps.snapcraft.outputs.snap }}
          release: beta
