name: Test API server
permissions:
  contents: read
on:
  push:
    branches: [main]
    paths:
      - server/**
      - ".github/workflows/test_server.yaml"
  pull_request:
    branches: [main]
    paths:
      - server/**
      - ".github/workflows/test_server.yaml"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-libs:
    if: github.event_name == 'pull_request'
    name: Check Charm Libraries
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write # necessary to add library status label
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Check libraries
        uses: canonical/charming-actions/check-libraries@2.7.0
        with:
          charm-path: server/charm
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

  test:
    name: Test server
    runs-on: [self-hosted, linux, large, noble, x64]
    defaults:
      run:
        working-directory: server
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      - name: Check lockfile
        run: uv lock --check
      - name: Install dependencies
        run: uv sync
      - name: Lint
        run: uvx tox run -e lint
      - name: Unit
        run: uvx tox run -e unit
      - name: Upload coverage.xml as an artifact
        uses: actions/upload-artifact@v7
        with:
          name: server_coverage
          path: server/coverage/coverage.xml
          if-no-files-found: error
          retention-days: 2
      - name: Upload coverage to codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: server/coverage/coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Check OpenAPI schema
        run: uvx tox run -e check-schema

  charm-lockfile:
    name: Test Charm (lockfile)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: server/charm
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      - name: Check lockfile
        run: uv lock --check

  charm-lint:
    name: Test Charm (lint)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: server/charm
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      - name: Install dependencies
        run: uv sync --group=lint
      - name: Lint
        run: uvx tox run -e lint

  charm-unit:
    name: Test Charm (unit)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: server/charm
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      - name: Install dependencies
        run: uv sync --group=unit
      - name: Run unit tests
        run: uvx tox run -e unit
      - name: Upload coverage.xml as an artifact
        uses: actions/upload-artifact@v7
        with:
          name: charm_coverage
          path: server/charm/coverage.xml
          if-no-files-found: error
          retention-days: 2
      - name: Upload coverage to codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: server/charm/coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}

  charm-integration:
    name: Test Charm (integration)
    runs-on: [self-hosted, linux, large, noble, amd64]
    defaults:
      run:
        working-directory: server/charm
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      - name: Install dependencies
        run: uv sync --group=integration
      - name: Install concierge
        run: sudo snap install --classic concierge
      - name: Prepare environment
        run: sudo concierge prepare --verbose
      - name: Pack charm
        run: charmcraft pack --verbose
      - name: Upload charm as an artifact
        uses: actions/upload-artifact@v7
        with:
          name: charm
          path: server/charm/*.charm
          if-no-files-found: error
          retention-days: 2
      - name: Run integration tests
        run: uvx tox run -e integration
