name: Test API server
permissions:
  contents: read
on:
  push:
    branches: [main]
    paths:
      - server/**
      - ".github/workflows/test_server.yaml"
  pull_request:
    branches: [main]
    paths:
      - server/**
      - ".github/workflows/test_server.yaml"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test server
    runs-on: [self-hosted, linux, large, noble, x64]
    defaults:
      run:
        working-directory: server
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: sudo apt-get install -yqq python3-poetry tox
      - name: Lint
        run: tox run -e lint
      - name: Unit
        run: tox run -e unit
      - name: Upload coverage.xml as an artifact
        uses: actions/upload-artifact@v5
        with:
          name: server_coverage
          path: server/coverage/coverage.xml
          if-no-files-found: error
          retention-days: 2
      - name: Upload coverage to codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          files: server/coverage/coverage.xml
          flags: server
          token: ${{ secrets.CODECOV_TOKEN }}

  compare-openapi:
    name: Compare OpenAPI schemas
    runs-on: [self-hosted, linux, large, noble, x64]
    defaults:
      run:
        working-directory: server
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install poetry
        run: pip install poetry
      - run: poetry install
      - name: Start FastAPI application
        run: poetry run uvicorn hwapi.main:app --port 8001 &
        shell: bash

      - name: Fetch OpenAPI YAML
        run: curl http://localhost:8001/v1/openapi.yaml -o fetched_openapi.yaml

      - name: Compare with repository's openapi.yaml
        run: diff fetched_openapi.yaml schemas/openapi.yaml
