name: Test client lib and CLI tool
permissions:
  contents: read
on:
  push:
    branches: [main]
    paths:
      - client/**
      - ".github/workflows/test_client.yaml"
  pull_request:
    branches: [main]
    paths:
      - client/**
      - ".github/workflows/test_client.yaml"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-and-test:
    name: Lint and test client
    runs-on: [self-hosted, linux, large, noble, x64]
    defaults:
      run:
        working-directory: client
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pkgconf libssl-dev build-essential
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9 # v1
        with:
          toolchain: stable
          components: rustfmt, clippy
      - run: cargo build --all-features
      - run: cargo check --all-features
      - run: cargo fmt --all -- --check
      - run: cargo clippy --all-features --verbose
      - run: cargo clippy --all-features --tests --verbose
      - name: Run cargo test
        run: cargo test --all-features
      - run: cargo install cargo-llvm-cov
      - name: Run coverage tests
        run: cargo llvm-cov --all-features --cobertura --output-path=coverage.xml
      - name: Upload coverage.xml as an artifact
        uses: actions/upload-artifact@v5
        with:
          name: client_coverage
          path: client/coverage.xml
          if-no-files-found: error
          retention-days: 2
      - name: Upload coverage to codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          files: client/coverage.xml
          flags: client
          token: ${{ secrets.CODECOV_TOKEN }}

  py-bindings-test:
    name: Test Python bindings
    runs-on: [self-hosted, linux, large, noble, x64]
    defaults:
      run:
        working-directory: client
    needs: lint-and-test
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pkgconf libssl-dev build-essential
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9 # v1
        with:
          toolchain: stable
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install tox
        run: pip install tox
      - name: Run tox
        run: tox
