name: Validate Workflows
permissions:
  contents: read
on:
  workflow_dispatch:
  pull_request:
    paths:
      - .github/actions/**
      - .github/workflows/**
  push:
    branches: [main]
    paths:
      - .github/actions/**
      - .github/workflows/**
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  security:
    name: Security
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
      - name: Run zizmor
        run: uvx zizmor --pedantic .
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
