name: Validate Workflows
permissions:
  contents: read
on:
  workflow_dispatch:
  pull_request:
    paths:
      - .github/actions/**
      - .github/workflows/**
      - .github/zizmor.yml
  push:
    branches: [main]
    paths:
      - .github/actions/**
      - .github/workflows/**
      - .github/zizmor.yml
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  security:
    name: Security
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Run zizmor
        uses: zizmorcore/zizmor-action@e639db99335bc9038abc0e066dfcd72e23d26fb4 # v0.3.0
        with:
          persona: pedantic
          advanced-security: false
