name: Validate Workflows
permissions:
  contents: read
on:
  workflow_dispatch:
  pull_request:
    paths:
      - .github/actions/**
      - .github/workflows/**
      - .github/zizmor.yml
  push:
    branches: [main]
    paths:
      - .github/actions/**
      - .github/workflows/**
      - .github/zizmor.yml
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  security:
    name: Security
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
      - name: Run zizmor
        run: uvx zizmor --pedantic .
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
